{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <div id="textbody">
        <p>As our 'Gymnasie Projekt' our goal was to make some kind of tuner, and although this can be used as one it's not very user-friendly at the moment.</p>
        <p>By uploading a audio file our program will essentially fiddle with that data in different ways to produce xkcd style graphs and also return the frequency of the most prominent sound in the upload.</p>
    </div>
    <p></p>

{% endblock %}