<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head lang="en">

    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>{% block title %}{% endblock %}</title>

</head>
<body>

    <div id="container">

       <div id = 'content'>
           <ul id="title">
                <li><img id="logo" src ="../static/img/logo.gif"></li>
                <li><div id = "title-text">Sound Parser</div><p id='title-subtext'>School Project by: Isak Johansson & Anton Skogsberg</p><br></li>
           </ul>
           <div class="buttons">
                <a class="btn blue" href="{{url_for('home')}}">Home</a>
                <a class="btn green" href="{{url_for('plots')}}">Plots</a>
                <a class="btn red" href="{{url_for('contact')}}">Contact</a>
                <a class="btn purple" href="{{url_for('about')}}">About</a>
           </div>
           <div id = 'line'></div>
           {% block content %}{% endblock %}
       </div>
    </div>
    <div id='footer'>
        <p>Design and Website - Isak Johansson</p>
    </div>
</body>