{% extends "base.html" %}

{% block title %}Contact{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    <br>
    <ul id="textbody">
        <li>
            <ul>
                <li>
                    <img src="../static/img/profile-pic-2.png">
                </li>
                <li>
                    <p>Isak Johansson:</p>
                    <p>Email: Isak@k22.se</p>
                    <p>School: IT-Gymnasiet Södertörn</p>
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>
                    <img src = ''>
                </li>
                <li>
                    <p>Anton Skogsberg:</p>
                    <p>Email: </p>
                    <p>School: IT-Gymnasiet Södertörn</p>
                </li>
            </ul>
        </li>
    </ul>

{% endblock %}