{% extends "base.html" %}

{% block title %}Sound Parser{% endblock %}


{% block content %}
    <h2>xkcd web comic #193</h2>
    <img id="xkcd" src="http://imgs.xkcd.com/comics/the_perfect_sound.png">
    <ul id="todo">
        <li><h3>Todo (in no particular order):</h3></li>
        <li><p>* Record Function</p></li>
        <li><p>* Tone Detector</p></li>
        <li><p>* Optimize Runtime</p></li>
        <li><p>* Fix User logs</p></li>
        <li><p>* Optimize Frequency Detection</p></li>
        <li><p>* Add More Things To home Prehaps</p></li>
    </ul>
{% endblock %}